.ny-home{
  &__banner{
    background-image: url("../../../assets/img/ny-beige__bg.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 40% 100%;

    &__text{
      padding-top: 60px;

      @media(max-width: 768px){
        padding-top: 0;
      }
    }
    &__img{
      img{
        width: 100%;
      }

      @media(max-width: 468px){
        margin-bottom: 40px;
      }
    }

    @media(max-width: 468px){
      background-size: 60% 100%;
      .row{
        flex-direction: column-reverse;
      }
    }
  }

  &__learn{
    padding: 100px 0;
    background-color: $ny-gray;
    color: $ny-milk;

    &__text{
      h2{
        margin-bottom: 35px;
      }

      p{
        width: 75%;
        margin-bottom: 60px;
      }
    }
    &__carousel{
      &__item{
        .card{
          border: none;
          background-color: $ny-gray;
          .card-body{
            padding: 20px 0;
          }
        }
      }
    }
  }
  
  &__about{
    padding: 100px 0;
    background-image: url("../../../assets/img/ny-beige__bg.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 35% 100%;

    &__img{
      img{
        width: 100%;
      }
    }

    &__text{
      padding-left: 40px;
      p{
        margin: 20px 0 40px;
      }
    }
    
    @media(max-width: 468px){
      background-size: 40% 100%;
    }
  }

  &__start{
    padding: 100px 0 0;
    background-image: url("../../../assets/img/ny-beige__bg.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 30% 100%;
    border-top: 5px solid $ny-beige;
    &__text{
      padding: 80px 0 0;
      p{
        margin: 25px 0 40px;
      }
    }

    &__img{
      img{
        width: 100%;
      }
    }

    @media(max-width: 468px){
      background-size: 40% 100%;
      .row{
        flex-direction: column-reverse;
      }
    }
  }

  &__discover{
    padding: 100px 0;
    background-color: $ny-gray;
    color: $ny-milk;

    .container-fluid{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .ny-btn{
        margin: auto;
        width: fit-content;
        margin-top: 40px;
        padding: 20px 60px;
        font-size: 20px;
      }
    }
  }

  &__explore{
    padding: 100px 0 380px;
    .container-fluid{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p{
        width: 50%;
        margin: 25px auto 40px;
      }
      .ny-btn{
        margin: auto;
        width: fit-content;
        padding: 20px 60px;
        font-size: 20px;
      }
    }
  }

  &__form{
    padding: 380px 0 100px;
    background-color: $ny-gray;
    color: $ny-milk;
    text-align: center;

    &__div{
      max-width: 800px;
      margin: 40px auto 0;
      text-align: left;

      #inputMessage{
        height: 300px;
      }

      .ny-btn{
        margin: auto;
        width: fit-content;
        float: right;
      }
    }

    &__img{
      img{
        position: relative;
        top: 0;
        margin-top: -750px;
        width: 80%;
      }
    }
  }
}