.ny-footer{
  .row{
    padding: 80px 0 80px;
    align-items: center;
  }

  &__logo{
    img{
      width: 100px;
    }
  }

  &__text{
    text-align: center;
    p{
      margin: 0;
    }
  }

  &__socials{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
    padding: 0;
    svg{
      width: 40px;
      height: 40px;
      color: $ny-beige;

      &:hover{
        color: $ny-beige-dk;
      }
    }
  }

  &__made-by{
    padding: 30px 0 20px;
    text-align: center;
    background-color: $ny-gray;
    color: $ny-milk;
    a{
      color: $ny-beige;
      &:hover{
        color: $ny-beige-dk;
        text-decoration: none;

      }
    }
  }
}