.ny-about{
  &__banner{
    background-image: url("../../../assets/img/ny-beige__bg.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 40% 100%;

    &__text{
      padding-top: 120px;

      @media(max-width: 768px){
        padding-top: 0;
      }
    }
    &__img{
      img{
        width: 100%;
      }

      @media(max-width: 468px){
        margin-bottom: 40px;
      }
    }

    @media(max-width: 468px){
      background-size: 60% 100%;
      .row{
        flex-direction: column-reverse;
      }
    }
  }

  &__us{
    padding: 100px 0 100px;
    background-image: url("../../../assets/img/ny-beige__bg.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 40% 100%;
    border-top: 5px solid $ny-beige;
    &__text{
      padding-right: 40px;
      p{
        margin: 10px 0 0;
      }
    }

    &__img{
      img{
        width: 100%;
        margin-bottom: 25px;
      }

      @media(max-width: 468px){
        display: none;
      }
    }

    @media(max-width: 468px){
      background-size: 40% 100%;
      .row{
        flex-direction: column-reverse;
      }
    }
  }

  &__history{
    padding: 100px 0 100px;
    background-image: url("../../../assets/img/ny-beige__bg.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 40% 100%;
    border-top: 5px solid $ny-beige;
    &__text{
      padding-right: 40px;
      p{
        margin: 10px 0 0;
      }
    }

    &__img{
      img{
        width: 100%;
        margin-bottom: 5px;
      }
      p, h4{
        margin: 0;
      }

    }

    @media(max-width: 468px){
      background-size: 40% 100%;
      .row{
        flex-direction: column-reverse;

        .col-md-6{
          margin-top: 40px;
        }
      }
    }
  }
}